@import "tailwindcss";


@theme {
  --color-primary: #ff6b35; /* Vibrant Orange */
  --color-black: #000000;

  /* Add the background image here */
  --background-image-hero-mountain: url('https://images.unsplash.com/photo-1518098268026-4e89f1a2cd8e?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGxhbmRzY2FwZXxlbnwwfHwwfHx8MA%3D%3D');
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}


@layer base {
  html{
    /* Use the new Outfit variable */
    font-family: var(--font-outfit), sans-serif;
  }

  body {
    cursor: auto !important;
  }
}